/* Stylesheets for aprend.io */


/*
 * Color scheme
 * ========================== */

$honorable-black: #222;
$light-blue: #b5d5e1;
$light-blue-harsh: #73a8b6;
$blue-harsh: #4387a0;
$rust: #f5e6a2;
$rust-harsh: #e5bd32;
$mustard-harsh: #d19e18;
$blood-harsh: #d52b08;

/* end Color scheme */




/*
 * Mixins, helpers
 * ========================== */

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}

@mixin transition($length) {
  -webkit-transition: all $length ease-out;
     -moz-transition: all $length ease-out;
       -o-transition: all $length ease-out;
          transition: all $length ease-out;
}

.unstyle-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gotham-font {
  font-family: Gotham, Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

/* end Mixins, helpers */




/*
 * Baseline
 * ========================== */

html {
  font-size: 1.4em;
  line-height: 1.4;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $honorable-black;
  background-color: $rust;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
a {
  color: saturate(darken($light-blue, 45), 60);
  @include transition(200ms);

  &:hover {
    padding: .1em 0;
    color: saturate(darken($light-blue, 35), 70);
    background-color: $rust-harsh;
    text-decoration: none;
    outline: 0;
  }
  &:active {
    background-color: $light-blue-harsh;
  }
}
abbr[title] {
  border-bottom: 1px dotted;
}
h1,
h2 {
  margin: .5em 0;
  line-height: 1;
  @extend .gotham-font;
}
h1 {
  font-size: 3em;
  margin: .3525em 0 .7em;
  text-transform: uppercase;
}
h2 {
  font-size: 2.2em;
  margin: 1.25em 0 .5em;
}
p {
  margin: 1em 0;
}
img {
  max-width: 100%;
}
small {
  font-size: .8em;
}
ul,
ol {
  padding: 0 0 0 1.25em;
  margin: 1em 0;
  list-style-position: outside;
}
nav ol,
nav ul {
  @extend .unstyle-list;
}
::-moz-selection {
  background-color: $light-blue;
  text-shadow: none;
}
::selection {
  background-color: $light-blue;
  text-shadow: none;
}

/* end Baseline */




/*
 * Fonts
 * ========================== */

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/gotham.eot');
  src: url('/fonts/gotham.eot?#iefix') format('embedded-opentype'),
       url('/fonts/gotham.woff') format('woff'),
       url('/fonts/gotham.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
/* end Fonts */




/*
 * Persistent
 * ========================== */

[role='banner'] {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 1em 1em;
  background-color: $light-blue;
}
[role='banner'],
[role='banner'] a {
  color: saturate(darken($light-blue, 60), 50);
}
[role='banner'] a:hover {
  background-color: lighten($light-blue, 12);
}
[role='banner'] .brand {
  width: 277px;
}
[role='banner'] .brand a {
  padding: 1em 0;

  &:hover {
    padding: 1em 0;
  }
}

[role='navigation'] {
  margin: 1.2em 0;
}
[role='navigation'] a {
  text-decoration: none;
}
[role='navigation'] ol ol {
  margin: 0 0 .5em 1.2em;
  font-size: .85em;
}

.social {
  font-size: 2em;
  line-height: 1;
  text-align: center;
}
.social ol {
  @extend .unstyle-list;
  @extend .clearfix;
  display: inline-block;
}
.social li {
  float: left;
  margin: 0 .28em;
}
.social a {
  padding: .25em;
  display: block;
}
.social img {
  display: block;
}

[role='main'] {
  position: relative;
  margin: 0 0 0 14.375em;
  padding: 1em 2.5em;
  background-color: $rust;
  overflow: hidden;
}

#browsehappy,
#noscript-warning {
  position: fixed;
  right: 0;
  left: 0;
  padding: 1em;
  z-index: 100;
  text-align: center;
  background-color: #ffdd32;
}
#browsehappy {
  top: 0;
}
#noscript-warning {
  bottom: 0;
}
#browsehappy p,
#noscript-warning p {
  margin: 0;
}
#browsehappy + [role='banner'],
#browsehappy + [role='banner'] + [role='main'] {
  margin-top: 3.42em;
}
/* end Persistent */




/*
 * Modular
 * ========================== */

.button {
  display: inline-block;
  padding: .75em 1.25em;
  border-bottom: .25em solid lighten($blue-harsh, 20);
  text-align: center;
  background-color: $blue-harsh;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  @extend .gotham-font;
  @include transition(200ms);

  &:hover{
    color: #fff;
    background-color: darken($blue-harsh, 20);
    border-color: $blue-harsh;
    padding: .75em 1.25em;
  }

  &:active {
    border-width: 0;
    margin-top: .25em;
  }
}
.button-group {
  @extend .clearfix;
  @extend .unstyle-list;
}
.button-group li {
  float: left;
  margin: 0 .5em;
  padding: .1em 0;
  vertical-align: top;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
.button-group .button {
}

.brand {
}
.brand a {
  display: block;
  background-color: transparent;

  &:hover {
    background-color: transparent;
    padding: 0;
  }
}
.brand img {
  display: block;
}
.brand .logo {
  margin: 0 0 .3em 0;
}
.brand .slogan {
}

article {
}
article header {
}
article header h1 {
  display: block;
  padding-right: .9em;
}

.text-heavy {
  max-width: 57em;
  margin-bottom: 5em;
}

$h1-nice-number-size: 2.375em;
h1 .nice-number {
  position: absolute;
  top: 0;
  right: -2.9em;
  width: $h1-nice-number-size * 2;
  height: $h1-nice-number-size;
  line-height: $h1-nice-number-size;
  text-indent: -2.85em;
}

.keywords {
  @extend .clearfix;
  @extend .unstyle-list;
  margin-left: -.2em
}
.keywords li {
  float: left;
  padding: .1em .5em;
  margin: .2em;
  background-color: $rust-harsh;
  border-radius: 0.3em;
  text-shadow: .05em .05em 0 rgba($rust, .4);
}

.pagination {
  margin: 2em 0;
  @extend .unstyle-list;
  @extend .clearfix;
}
.pagination li {
}
.pagination li a {
}
.pagination .prev {
  float: left;
}
.pagination .prev a {
}
.pagination .next {
  float: right;
}
.pagination .next a {
}

.nice-number {
  font-size: 1em;
  background-color: $light-blue;
  color: $blue-harsh;
  border-radius: 777em;
  text-align: center;
  @extend .gotham-font;
}
/* end Modular */




/*
 * Specific page: Landing
 * ========================== */

#landing {
  font-size: 2.2em;
}
#landing [role='main'] {
  margin: 0;
  padding-top: .6em;
  text-align: center;
  @extend .gotham-font;
}
#landing header {
  padding: 1.25em 0 1.65em;
  background-color: $light-blue;
}
#landing .brand {
  width: 416px;
  margin: 0 auto;
}
#landing .button-group {
  font-size: .75em;
  margin: 2.5em 0 0;
}
#landing .button-group li {
  float: none;
  display: inline-block;
}

/* end Specific page: Landing */




/*
 * Specific page: Subject listing
 * ========================== */

$video-list-nice-number-size: 2.2em;

.video-list {
  @extend .unstyle-list;
  font-size: 2.2em;
}
.video-list li {
  margin: 1em 0;
  line-height: $video-list-nice-number-size;
}
.video-list a {
  display: block;
  text-decoration: none;
  @include transition(500ms);

  &:hover {
    padding: 0;
    background-color: $light-blue;
    color: $honorable-black;
  }
}
.video-list img,
.video-list .nice-number,
.video-list strong {
  display: inline-block;
  vertical-align: middle;
}
.video-list img {
  width: 240px;
}
.video-list .nice-number {
  width: $video-list-nice-number-size;
  height: $video-list-nice-number-size;
  margin: 0 .2em;
}
.video-list strong {
  @extend .gotham-font;
}

/* end Specific page: Subject listing */




/*
 * Specific page: Video page, content
 * ========================== */

#video {
}
#video iframe {
  width: 100%;
  border: none;
}
#video small {
  display: block;
  text-align: right;
  font-size: .75em;
}
/* end Specific page: Video page, content */




/*
 * Media queries
 * ========================== */

/* end Media queries */











/*
 * x
 * ========================== */

/* end x */

/*
 * Specific page: x
 * ========================== */

/* end Specific page: x */
