- content_for(:subject_title, "Acerca")

%article.text-heavy
  :markdown
    # Acerca

    Bienvenido a aprend.io! Este sitio esta compuesto por 16 videos acompañados de código con los cuales podrás comenzar a aprender los fundamentos de Front&#8211;End Development.

    Los videos están divididos en 3 temas principales: HTML, CSS y un proyecto de ejemplo; Pizzatio. Viendo los videos en orden y practicando con ayuda del código de ejemplo podrás llegar a tener una comprensión firme de lo fundamental de Front&#8211;End Development.

    El conocimiento previo que se requiere es ser capaz de poder crear archivos, carpetas, cambiar su nombre, instalar un programa, usar un editor de texto. Las clases están orientadas a usuarios novicios con un nivel intermedio de uso de la tecnología. Si ya eres un experto en Front&#8211;End o un Back&#8211;End Developer de todas formas te pueden llegar a interesar los videos relacionados a CSS y Pizzatio.

    Es importante recalcar que si bien HTML y CSS son parte del área de Front&#8211;End; no son lo único necesario para poder llamarse a uno miso un Front&#8211;End Developer completo. Front&#8211;End es un área de conocimiento muy demandante en el aspecto de tener que estar actualizado en diversas sub&#8211;áreas de conocimiento (content strategy, information architecture, wireframing, prototyping, user experience, usability, accesibility, JavaScript, single&#8211;page application development, etc.) Recomiendo también el articulo [A Baseline for Front&#8211;End Developers](http://rmurphey.com/blog/2012/04/12/a-baseline-for-front-end-developers/) para comprender la profundidad el alcance de conocimiento técnico que ser un Front&#8211;End Developer demanda.

    Las buenas noticias es que un viaje de 700km comienza con un paso, y en aprend.io puedes comenzar a dar los primeros pasos, esforzándote para aprender lo fundamental y mas básico de HTML y CSS.

    Este sitio esta en Español para que los hispanohablantes que no tienen una comprensión firme de Inglés puedan acceder a aprender Front&#8211;End. Esta compuesto por videos para que las personas que no están acostumbradas a leer libros y/o documentación puedan acceder a aprender Front&#8211;End. De todas formas demanda un esfuerzo y constancia de tu parte ya que si bien estos conocimientos son asequibles, no son triviales. La información esta aquí, ahora depende de tu voluntad y esfuerzo lograr el éxito.

    Desde ya, gracias por tu atención y [comencemos!](/introduccion)

