%header
  .brand
    = link_to "/introduccion" do
      = image_tag("/images/aprendio-logo.png", { alt: "aprend.io", class: "logo" })
      = image_tag("/images/aprendio-slogan.png", { alt: "comienza a crear", class: "slogan" })
