#scripts
  = javascript_include_tag "main"
  - if content_for?(:page_id)
    :javascript
      var disqus_identifier = '#{yield_content(:page_id)}';
    %script{ src: "//aprendio.disqus.com/embed.js", async: true }
  %noscript
    #noscript-warning
      :markdown
        Algunas funcionalidades de aprend.io requieren de JavaScript, [por favor habilitarlo](http://www.enable-javascript.com/es/)
