- content_for(:subject_title, "Página no encontrada")

:markdown
  # 404

  A donde quieres ir, no hay existencia.

  Si la existencia precede la consciencia, pues haz que tu consciencia cree existencia.

  El presente es la piedra[.](http://mcdlr.com/piedra/)
